.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .Modal {
    position: absolute;
    inset: 50% auto auto 50%;
    border: none;
    outline: none;
    padding: 10px;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease-in-out;
  }
  .imgModal {
    max-height: 80vh;
  }
  .imgInfo {
    color: beige;
    padding-top: 10px;
    text-align: center;
  }
  .imgInfoDown {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }